.container{
    display: grid;
    grid-template-areas: 
    "sec1 sec2"
    "sec3 sec4";
    gap: 10px;
    padding: 10px;
}

.container > div.sec1{
    grid-area: "sec1";
    text-align: "center";
    background-color: violet;
}

.container > div.sec2{
    grid-area: "sec2";
    text-align: "center";
    background-color: brown;
}

.container > div.sec3{
    grid-area: "sec3";
    text-align: "center";
    background-color: black;
}

.container > div.sec4{
    grid-area: "sec4";
    text-align: "center";
    background-color: aqua;
}